@font-face {
  font-family: TUNEHEAD;
  src: url("/fonts/TUNEHEAD.woff2") format("woff2"),
    url("/fonts/TUNEHEAD.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: FavoritHangulUI;
  src: url("/fonts/FavoritHangulUI-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: FavoritHangulUI;
  src: url("/fonts/FavoritHangulUI-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

:root {
  --vh: 100%;
}

body {
  font-family: "FavoritHangulUI";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.1;
  word-break: keep-all;
  color: #fff;
  overflow: hidden;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  cursor: default;
  background-color: #a8a8a8;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Header Style */
div.header {
  position: fixed;
  top: 20px;
  width: 100vw;
  font-size: 24px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 0 24px;
  z-index: 999;
}

div.header div {
  flex: 1;
  z-index: 999;
}

div.title {
  font-family: "TUNEHEAD";
  font-size: 52px;
  text-align: center;
}

div.date {
  text-align: left;
}

div.weather {
  text-align: right;
}

/* Footer Style */
footer {
  position: fixed;
  width: 100vw;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 0 24px;
  align-items: flex-end;
}

footer div {
  font-size: 24px;
  font-weight: 300;
  flex: 1;
  z-index: 999;
}

.arrow:before {
  content: "↗";
  vertical-align: 0;
  padding-left: 4px;
}

.arrow:nth-child(1) {
  padding-right: 12px;
}

footer div:nth-child(2) {
  text-align: right;
}

/* Image Box Style */
div.image_box {
  cursor: pointer;
}

div.image_box:hover {
  cursor: pointer;
}

div.image_1 {
  background-image: url("/images/image_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 700px;
  height: 638px;
  position: absolute;
  top: 300px;
  left: -20px;
  rotate: 10deg;
}

div.image_2 {
  background-image: url("/images/image_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 450px;
  height: 594px;
  position: absolute;
  top: 0;
  right: 400px;
  rotate: -80deg;
}

div.image_3 {
  background-image: url("/images/image_3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 600px;
  height: 418px;
  position: absolute;
  top: 400px;
  right: 100px;
  rotate: -12deg;
}

div.image_4 {
  background-image: url("/images/image_4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 450px;
  height: 450px;
  position: absolute;
  top: 0;
  left: 400px;
  rotate: -75deg;
}

@media screen and (max-width: 1023px) {
  body {
    width: 100vw;
    height: var(--app-height);
    position: relative;
  }

  /* Header Style */
  div.header {
    font-size: 12px;
  }

  div.weather {
    text-align: right;
  }

  div.title {
    font-family: "TUNEHEAD";
    font-size: 24px;
    margin: 0 0 4px 0;
  }

  /* Footer Style */
  footer div {
    font-size: 10px;
  }

  footer div:nth-child(2) {
    font-size: 10px;
    flex-grow: 1.5;
  }

  .arrow:before {
    font-size: 10px;
    vertical-align: -1px;
    padding-left: 2px;
  }

  /* Image Box Style */
  div.image_1 {
    width: 250px;
    height: 228px;
    top: -230px;
    left: 200px;
    rotate: 0deg;
  }

  div.image_2 {
    width: 174px;
    height: 230px;
    top: -250px;
    left: 250px;
    rotate: 20deg;
  }

  div.image_3 {
    width: 200px;
    height: 152px;
    top: -250px;
    right: 20px;
    rotate: 10deg;
  }

  div.image_4 {
    width: 176px;
    height: 176px;
    top: -250px;
    left: 0px;
    rotate: 20deg;
  }
}
