@font-face {
  font-family: TUNEHEAD-0111;
  src: url("/fonts/TUNEHEAD-0111.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: FavoritHangulUI;
  src: url("/fonts/FavoritHangulUI-Medium.otf") format("opentype");
  font-weight: medium;
  font-style: normal;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: "FavoritHangulUI";
  font-size: 14px;
  line-height: 1.1;
  word-break: keep-all;
  color: #a8a8a8;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 2em;
  /*border: 1px solid red;*/
}

div.container {
  width: calc(100vw - 4em);
  height: calc(100vh - 4em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*border: 1px solid lightblue;*/
}

div.text-box-container {
  /*width: 820px;*/
  /*height: 125px;*/
  /*margin: 0 auto;*/
  /*border: 1px solid blue;*/
  width: 50vw;
}

div.text-box {
  background: transparent;
  /*margin: 0 auto;*/
  cursor: pointer;
  /*border: 1px solid #ce2117;*/
}

div.text-box h2 {
  cursor: pointer;
}

div.text-box#text1 {
  font-family: "TUNEHEAD-0111";
  text-align: center;
  width: 50vw;
  height: 18.75vw;
  font-size: 19.5vw;
  color: #a8a8a8;
  margin-bottom: 1rem;
}

div.text-box#text1 h2 {
  margin: -0.01em 0 0 -0.02em;
}

div.text-box#text2,
div.text-box#text3 {
  width: 24vw;
}
div.text-box#text2 {
  float: left;
}

div.text-box#text3 {
  float: right;
}

p:nth-child(2),
p:nth-child(4) {
  text-indent: 4.4em;
}

div.iamge-box {
  cursor: pointer;
}

div.image-1 {
  background-image: url("/images/image-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 600px;
  height: 550px;
  position: absolute;
  top: 0;
  left: 80%;
  transform: translateX(-40%);
  rotate: 20deg;
}

div.image-2 {
  background-image: url("/images/image-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 440px;
  height: 565px;
  position: absolute;
  bottom: -50px;
  left: 100px;
  rotate: 80deg;
}

div.image-3 {
  background-image: url("/images/image-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 530px;
  height: 405px;
  position: absolute;
  bottom: 0px;
  right: 20px;
  rotate: -10deg;
}

div.image-5 {
  background-image: url("/images/image-5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 450px;
  height: 450px;
  position: absolute;
  top: -50px;
  left: 20px;
  rotate: 20deg;
  /*border: 1px solid red;*/
}

div.image-6 {
  background-image: url("/images/image-6.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height: 420px;
  position: absolute;
  top: 0;
  left: 0;
  rotate: 20deg;
  /*border: 1px solid red;*/
}

@media screen and (max-width: 1023px) {
  @font-face {
    font-family: TUNEHEAD-0111;
    src: url("/fonts/TUNEHEAD-0111.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: FavoritHangulUI;
    src: url("/fonts/FavoritHangulUI-Medium.otf") format("opentype");
    font-weight: medium;
    font-style: normal;
  }

  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }

  body {
    font-family: "FavoritHangulUI";
    font-size: 10px;
    line-height: 1.1;
    word-break: keep-all;
    color: #a8a8a8;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 2em;
    /*border: 1px solid red;*/
  }

  div.container {
    width: calc(100vw - 4em);
    height: calc(100vh - 4em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*border: 1px solid lightblue;*/
  }

  div.text-box-container {
    /*width: 820px;*/
    /*height: 125px;*/
    /*margin: 0 auto;*/
    /*border: 1px solid blue;*/
    width: 86vw;
  }

  div.text-box {
    background: transparent;
    /*margin: 0 auto;*/
    cursor: pointer;
    /*border: 1px solid #ce2117;*/
  }

  div.text-box h2 {
    cursor: pointer;
  }

  div.text-box#text1 {
    font-family: "TUNEHEAD-0111";
    text-align: center;
    width: 86vw;
    height: 31vw;
    font-size: 32vw;
    color: #a8a8a8;
    margin-bottom: 1rem;
  }

  div.text-box#text1 h2 {
    margin: -0.01em 0 0 -0.02em;
  }

  div.text-box#text2,
  div.text-box#text3 {
    width: 86vw;
  }
  div.text-box#text2 {
    float: left;
    margin-bottom: 1rem;
  }

  div.text-box#text3 {
    float: left;
  }

  p:nth-child(2),
  p:nth-child(4) {
    text-indent: 1.25em;
  }

  div.iamge-box {
    cursor: pointer;
  }

  div.image-1 {
    background-image: url("/images/image-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 270px;
    position: absolute;
    top: -280px;
    left: 250px;
    rotate: 0deg;
  }

  div.image-2 {
    background-image: url("/images/image-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 265px;
    position: absolute;
    top: -270px;
    left: 100px;
    rotate: 0deg;
  }

  div.image-3 {
    background-image: url("/images/image-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 280px;
    height: 212px;
    position: absolute;
    top: -260px;
    right: 150px;
    rotate: 30deg;
  }

  div.image-5 {
    background-image: url("/images/image-5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -220px;
    left: 50px;
    rotate: 10deg;
    /*border: 1px solid red;*/
  }

  div.image-6 {
    background-image: url("/images/image-6.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 230px;
    height: 200px;
    position: absolute;
    top: -240px;
    left: 0;
    rotate: 20deg;
    /*border: 1px solid red;*/
  }
}
